.btn-main {
  position: relative;
  width: 100%;
  height: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;
  background-color: rgb(217, 175, 72);
  z-index: 2;
  & .btn__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .btn__text {
      font-size: 9px;
      font-family: "Montserrat";
      color: rgb(24, 30, 32);
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  // box-shadow: 0px 0px 16px #0f26f5;
  cursor: pointer;

  &:focus {
    outline: none;
    border: none;
    background-color: darken($color: rgb(217, 175, 72), $amount: 8%);
    transition: 0.5s;
  }
  &:hover {
    background-color: darken($color: rgb(217, 175, 72), $amount: 8%);
    transition: 0.5s;
  }
  &:active {
    background-color: darken($color: rgb(217, 175, 72), $amount: 8%);
    transition: 0.5s;
  }

  &__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn__text {
      font-family: "Montserrat-Bold", sans-serif;
      width: 100%;
      text-align: center;
      font-weight: 800;
      font-size: 14px;
      line-height: 24px;
      color: black;
    }
  }
}
.btn-news-card {
  background-color: rgb(246, 185, 74);
}

.btn__icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  &--img {
    display: block;
    max-width: 40px;
    width: 40px;
    height: 50px;
  }
}
.btn.register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  background-color: rgb(37, 40, 43);
  // box-shadow: 0px 0px 16px #0f26f5;
  cursor: pointer;

  &:focus {
    outline: none;
    border: none;
    background-color: darken($color: rgb(37, 40, 43), $amount: 8%);
    transition: 0.5s;
  }
  &:hover {
    background-color: darken($color: rgb(37, 40, 43), $amount: 8%);
    transition: 0.5s;
  }
  &:active {
    background-color: darken($color: rgb(37, 40, 43), $amount: 8%);
    transition: 0.5s;
  }

  & .btn__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .btn__text {
      font-size: 9px;
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      text-transform: uppercase;

      color: #fff;
    }
  }
}
.btn-form-in {
  border: 2px solid rgb(246, 185, 74);
  color: #fff;
  background-color: transparent;
  &:focus {
    outline: none;
    border: none;
    background-color: darken($color: rgb(37, 40, 43), $amount: 8%);
    transition: 0.5s;
  }
  &:hover {
    background-color: darken($color: rgb(37, 40, 43), $amount: 8%);
    transition: 0.5s;
  }
  &:active {
    background-color: darken($color: rgb(37, 40, 43), $amount: 8%);
    transition: 0.5s;
  }

  & .btn__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .btn__text {
      font-size: 12.792px;
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      font-weight: bold;
      line-height: 1.421;
      text-align: center;
      text-transform: inherit;
    }
  }
}
.btn-card-text{
  position: relative;
  width: 100%;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  border-radius: 3px;
  background-color: rgb(217, 175, 72);
  z-index: 2;
  & .btn__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .btn__text {
      font-size: 6.5px;
      font-family: "Montserrat";
      color: rgb(24, 30, 32);
      font-weight: bold;
      text-transform: inherit;
      text-align: center;
    }
  } 
}
.btn-up-balance {
  margin-bottom: 12px;
  height: 36px;
  border-radius: 4px;
 
  & .btn__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .btn__text {
      font-size: 9.705px;
  font-family: "Montserrat";
  color: rgb(23, 22, 28);
  font-weight: bold;
  line-height: 1.2;
    }
  }
}
.btn-withdraw {
  margin-bottom: 12px;
  height: 36px;
  border-radius: 4px;
  background-color: rgb(27, 26, 33);
  &:focus {
    outline: none;
    border: none;
    background-color: darken($color: rgb(37, 40, 43), $amount: 8%);
    transition: 0.5s;
  }
  &:hover {
    background-color: darken($color: rgb(37, 40, 43), $amount: 8%);
    transition: 0.5s;
  }
  &:active {
    background-color: darken($color: rgb(37, 40, 43), $amount: 8%);
    transition: 0.5s;
  }
 
  & .btn__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .btn__text {
      font-size: 9.705px;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: 600;
  line-height: 1.2;
    }
  }
}
.btn-transfer-partner
{
  margin-bottom: 12px;
  height: 36px;
  border-radius: 4px;
  background-color: transparent;
 
 
  & .btn__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .btn__text {
      font-size: 9.705px;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: 600;
  line-height: 1.2;
    }
  }
}
.btn-balance-add{
  background-color: #ffffff;
  border-radius: 4px;
}
.btn-purchase-package{
  border-radius: 4px;
  background-color: rgb(100, 169, 11);
  &:focus {
    outline: none;
    border: none;
    background-color: darken($color: rgb(100, 169, 11), $amount: 8%);
    transition: 0.5s;
  }
  &:hover {
    background-color: darken($color: rgb(100, 169, 11), $amount: 8%);
    transition: 0.5s;
  }
  &:active {
    background-color: darken($color: rgb(100, 169, 11), $amount: 8%);
    transition: 0.5s;
  }
  & .btn__body{
    & .btn__text{
      color: #ffffff;
    }
  }
 
}
.btn-card-news {
  height: 24px;
  border-radius: 4px;
  background-color: rgb(36, 35, 42);
  &:focus {
    outline: none;
    border: none;
    background-color: rgb(246, 185, 74);
    transition: 0.5s;
  }
  &:hover {
    background-color: rgb(246, 185, 74);
    transition: 0.5s;
  }
  &:active {
    background-color: rgb(246, 185, 74);
    transition: 0.5s;
  }
  &:hover .btn__body .btn__text {


    color: rgb(23, 22, 28);
  }
  & .btn__body{
    & .btn__text{
      color: #ffffff;
      font-size: 8px;
      text-transform: inherit;

    }
  }
}